{% extends 'base.html.twig' %}

{% block title %}À propos{{ parent() }}{% endblock %}

{% block body %}

    <section class="apropos">
        <h2>À propos</h2>
        <div class="texteapros">
            <p>NourShop est une boutique de vente destiné aux amoureux de 
                pagne Africain. <span class="coupure" >Il se veut le leader en ce qui concerne les pagnes Africain en 
                    proposant à ces clients une gamme variée de produits
                     de marques locales.</span>  Le pagne fait partie de l'identité de l'Afrique alors NorShop
                 se veut un site de promotion de la culture moderne.</p>
             <p>Avec NourShop voyez la Vie autrement </p>
        </div>
    </section>

{% endblock %}
