{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }} {% endblock %}

{% block body %}

<section class="presentation">
            <div class="textenour">
            <h1 class="welcome">Bienvenue sur NourShop</h1>
            <p class="comme">Avec NourShop voyez la vie autrement</p>
            </div>
            <div class="boutton">
                <a class="boutton-btn" href="">Qui sommes nous?</a>
            </div>
            
        </section>

{% endblock %}
