{% extends 'base.html.twig' %}

{% block title %}Mention Légale{{ parent() }}{% endblock %}

{% block body %}

    <section class="apropos">
        <h2>Mentions Légales</h2>
        <div class="texteapros">
            <p>
                <strong> Informations techniques</strong><br>
                Il est rappelé que le secret des correspondances n'est pas garanti sur le réseau Internet et qu'il appartient à chaque utilisateur d'Internet de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination d'éventuels virus circulant sur Internet. 

            </p>
            <p>
                <strong>Droits d'auteur </strong> <br>
                La reproduction ou représentation, intégrale ou partielle, des pages, des données et de tout autre élément constitutif au site NourShop, par quelque procédé ou support que ce soit, est interdite et constitue sans autorisation de l'éditeur une contrefaçon. Données personnelles Toutes les informations de votre compte ne sont utilisées que dans le cadre de votre relation commerciale avec la société NourShop. Ces informations ne sont jamais partagées avec des tiers ou revendues. 
            </p>
        </div>
    </section>

{% endblock %}
