{% extends 'base.html.twig' %}

{% block title %}Mention Légale{{ parent() }}{% endblock %}

{% block body %}
     <section class="mentions">
        <h2>Politique de Confidentialité</h2>
        <div class="textementions">
            <p>Votre vie privée est importante et le sera toujours pour NourShop. C'est pourquoi nous avons donc élaboré une politique de confidentialité qui couvre la façon dont nous collectons, utilisons, divulguons, transférons et stockons vos informations. Veuillez prendre quelques instants pour vous familiariser avec nos règles de confidentialité et nous informer si vous avez des questions. <br>
            En visitant Nourshop, vous acceptez les pratiques décrites dans la présente politique de confidentialité. <br>
            NourShop est une société de droit Gabonaise immatriculée au Registre de Commerce de Libreville sous le Numéro GA-LBV-2019-L-1989 ayant pour numéro de Compte Contribuable le 1405050 et dont le siège social est situé à Libreville. <br>
            Les termes ci-après «vous» désignent toute personne accédant aux site Web NourShop. Les termes « nous» désignent NourShop. <br>La protection des données personnelles de votre vie privée est un principe important pour nous. C'est d'ailleurs la raison pour laquelle nous ne recueillons que des données personnelles essentiellement nécessaires voire indispensables pour vous garantir une meilleure expérience sur notre site Web.
                </p>
             <p>En soumettant des données personnelles sur notre Site Web, vous consentez à l'utilisation de celles-ci dans les conditions prévues dans la présente politique de confidentialité.
                Vous pouvez visiter et naviguer sur certaines pages de notre site Web sans avoir à fournir de données personnelles.
                 </p>
           <div class="vue">
               <h3>Vue d'ensemble</h3>
            <ul>
                <li>1. Récupération des données personnelles utilisateur<li>
                <li>2. Utilisation des données personnelles utilisateur</li>
                <li>3. Exactitude des données personnelles utilisateur</li>
                <li>4. Sécurité</li>
                <li>5. Cookies</li>
                <li>6. Accès aux données personnelles utilisateur</li>
                <li>7. Modification</li>
            </ul>
           </div>
        </div>
    </section>

{% endblock %}
