{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
     <section  id="section">   
    <div class="containerLogin">
        <div class="user signinBx">
            <div class="imgBx"><img src="{{ asset('img/logo.svg') }}" alt=""></div>
            <div class="formBx">
               <p>Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p class="signup">Si vous ne recevez pas d'email, vérifier dans vos span ou<a href="{{ path('app_forgot_password_request') }}"> réessayer</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
