* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    min-height: 100vh;
    overflow: hidden;
} */

body {
    font-family: var(--roboto);
}

h1,
h2,
h3,
h4,
p,
a {
    color: var(--blue);
}

h1,
h2 {
    font-family: var(--signika);
    font-size: 2rem;
}

h3 {
    font-family: var(--signika);
    font-size: 25px;
}

p,
a,
li {
    font-size: 20px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--blue);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: var(--white);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
    margin-left: -25px;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: var(--white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--blue);
}

.sidebar li a:hover {
    background: var(--white);
}

.sidebar li a .links_name {
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--blue);
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}


.home-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

/* Interface Admin */

.tableau {
    text-align: center;
    margin-top: 6rem;
}

/* Gestion des Article */

.gestion-article {
    margin-left: auto;
    margin-right: 2rem;
    width: 76%;
}

.head-article {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.msbtn {
    background-color: var(--blue);
    border-color: var(--blue);
}

.msbtn:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    opacity: 1;
}

/* Ajout des Articles */
.ajout-article  h2 {
    text-align: center;
    margin-top: 2rem;
}
.article {
    margin-left: auto;
    margin-right: 2rem;
    width: 76%;
}
#msbtn {
    background-color: var(--blue);
    border-color: var(--blue);
    color:var(--white)
}

#msbtn:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    opacity: 1;
}

@media (min-width: 320px) and (max-width:500px) {
    /* Pour la Side Bar */
    .sidebar {
        left: -9px;
    }
    /* Pour la Gestion des Articles */
    .head-article {
        flex-direction: column;
        margin-left: 3rem;
    }

    .gestion-article {
        margin-right: 21px;
        width: 85%;
    }

    .tableau {
        margin-top: 10rem;
        margin-left: 6rem;
    }
    /* Pour l'ajout des Articles */
    .ajout-article  h2 {
        margin-left: 4rem;
    }
    .article {
       
        margin-right: 10px;
        width: 75%;
    }
}

@media (min-width: 501px) and (max-width:646px) {
    .tableau {
        margin-top: 10rem;
        margin-left: 6rem;
    }
}




@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}