
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: var(--roboto);
  }
h1,h2,h3,h4,p,a {
      color:var(--blue);
  }
h1,h2 {
      font-family: var(--signika) ;
      font-size: 2rem;
  }
  h3 {
    font-family: var(--signika) ;
    font-size: 25px;
}
  p,a,li {
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
  a:hover{
    color: var(--white);
  }
  li {
      list-style: none;
  }

  /********************************/ 
 /********     BOUTTON    ********/
/********************************/

.boutton {
  margin-top: 4rem;
}
.boutton-btn {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
  width: 35vh;
  border: 2px solid var(--blue);
  border-radius: 1rem;
  font-size: 20px;
}

.boutton-btn:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
  font-weight: bold;
}


  /*------------              --------------* /
 /*------------  HEADER       --------------*/
/*------------                -------------*/

.dropdown {
  margin: 0 auto;
}
nav{
  height: 106px;
  padding-top: 1rem;
  background:var(--schemes) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.logonour {
  width: 70px;
  height: auto;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  /*  permet de mettre un fond */
  background:var(--schemes) ; 
  position: relative;
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 0 15px;
  line-height: 60px;
  font-size: 20px;
}

/* Pour les fond au survole des texte */
nav ul li a:hover {
  background: var(--blue);
  border-radius: 5px;
}

nav ul ul {
  position: absolute;
  top: 60px;
  display: none;
}
nav ul li:hover > ul {
  display:block ;
}
nav ul ul li {
  width:150px ;
  float: none;
  display: list-item;
  position: relative;
}
#menu-btn {
  display: none;
} 

  /*----------                   -----------*/
 /*-----------  PAGE ACCUEIL     ----------*/
/*------------                   ---------*/


/* SECTION TEXTE DE PRÉSENTATION */
.presentation{
  text-align: center;
  margin-top: 10rem;
}
.presentation h1 {
  font-size: 40px;
}
.presentation p {
  margin-top: 2rem;
  font-size: 25px;
}

/* Histoire des Tissus Africain */
.histoire {
  background: var(--schemes);
  height: 470px;
  text-align: center;
  margin-top: 7rem;
}
.histoire h2{
  padding-top: 3rem;
  color: var(--white);
}

.africains-story p{
  margin-top: 5rem;
  margin-left: 7rem;
  margin-right: 7rem;
  text-align: justify;
  color: var(--white);
  }

/* CARDSLIDER  */

#section-swip{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  var(--blue);
  overflow: hidden;
  margin-top: 2rem;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-container  h2 {
  text-align: center;
  margin-bottom: 4rem;
  color: var(--white);
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  background: var(--white);
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  filter: blur(4px);
  border-radius: 10px;
}
.swiper-slide-active {
  filter: blur(0px);
  background: var(--white);
}

.tetstiomonialBox{
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color:  #999;
}
.tetstiomonialBox .quote {
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0.2;
  width: 15%;
}
.tetstiomonialBox .content p {
  font-size: 17px ;
}

.tetstiomonialBox .details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.tetstiomonialBox .details .imgBx {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.tetstiomonialBox .details .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tetstiomonialBox .details h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--schemes);
  line-height: 1.1em;
}
.tetstiomonialBox .details h3  span {
  font-size: 12px;
  color: #666;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}




 /*------------                       --------------* /
 /*------------  Page À PROPOS         --------------*/
/*------------                         -------------*/

.apropos {
  text-align: center;
  width: 86%;
  margin-top: 3rem;
}
.apropos h2 {
  margin-bottom: 3rem;
}
.texteapros {
  width: 58%;
  text-align: center;
  margin-left: 17rem;
}
.mentions{
  text-align: justify;
  width: 86%;
  margin-top: 3rem;
}
.mentions h2{
  margin-bottom: 3rem;
  margin-left: 1rem;
}
.textementions{
  
  text-align: justify;
  margin-left: 1rem;
}
.vue {
  text-align: justify;
  margin-top: 2rem;
}
.vue h3 {
  font-size: 22px;
  padding-bottom: 1rem;
}

 /*------------                        --------------*/
  /*------------  CARD DES ARTICLES     --------------*/
 /*------------                         -------------*/
 .generalcontenucard h2{
  margin: 2rem;
  font-size: 25px;
  text-align: center;
}
#containerArticle {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.containerArticle {
  width: 30%;
  height:400px;
  border: 1px solid black;
  margin: 2rem 1rem;
  padding-bottom: 7rem;
  position: relative;
  background-color: #FDFBF4;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.imageArticle {
  width: 100%;
  height:35vh;
}
.imageArticle img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.textArticle {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.textArticle h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.descriptionArticle{
  margin-left:2rem;
  margin-right: 2rem;
  font-size: 18px;
}


/*------------                        --------------*/
  /*------------     DESCRIPTIONS       --------------*/
 /*------------                         -------------*/
 .container-description{
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.image-description{
  width: 147%;
  height: 425px;
  border: 2px solid grey;
  border-radius: 21px;
}
.image-description img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.info-description {
  background-color: #FDFBF4;
  border: 1px solid grey;
  margin-left: 20rem;
  font-size: 18px;
  padding: 2rem;
}
.info-description  p {
  margin: 0;
}

   /*------------                    --------------* /
  /*------------   RDV TAILLEUR      --------------*/
 /*------------                      -------------*/

.rdv{
  margin:2rem;
}


   /*------------                    --------------* /
  /*------------   PAGE CONTACT      --------------*/
 /*------------                      -------------*/
  .contact-page {
   width: 85%
 } 
 .contact-page h2 {
  text-align: center;
  margin-top: 2rem;
}
.contact-general{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
  /* PARTIE DES INFOS SUR LE MAGASIN */
.info-contact {
  padding-top: 4rem;
  padding-left: 10rem;
}
.info-contact a:hover{
  color: #003A6B;
}
.icones{
  padding-bottom: 1rem;
}
.hour {
  float: right;
  margin-right: 77px;
}
.icone {
  margin-right: 1rem;   
}

/* CHAMPS DU FORMULAIRE */

.formulaire-contact{
  
padding-top: 4rem;
}
.forminfo {
    display: flex;
    justify-content: start;
    padding-bottom: 1em;
    margin: auto;
}
.name {
    border: 1px solid #003A6B;
    border-radius: 5px;
    padding: 1em;
    width: 41%;
    margin-right: 1em;
}
.name::placeholder {
  font-family: 'Roboto';
}
.firstname {
  border: 1px solid #003A6B;
  border-radius: 5px;
  padding: 1em;
  width: 41%;
  margin-right: 1em;
}
.firstname::placeholder {
font-family: 'Roboto';
}
.phone {
  border: 1px solid #003A6B;
  border-radius: 5px;
  padding: 1em;
  width: 41%;
  margin-right: 1em;
}
.phone::placeholder {
font-family: 'Roboto';
  border-radius: 5px;
}
.email {
    border: 1px solid #003A6B;
    border-radius: 5px;
    padding: 1em;
    width: 41%;
}
.email::placeholder {
    font-family: 'Roboto';
}

.message {
  border: 1px solid #003A6B;
  border-radius: 5px;
  padding: 8px 8px;
  resize: none;
  margin-left: auto;
  width: 86%;
}
.message::placeholder {
    font-family: 'Roboto';
}

/* BOUTTON DU FORMULAIRE */
.envoi {
  text-align: center;
  background-color: #003A6B;
  color: #FDFBF4;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 40px ;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 6rem;
  transition: all ease-in 0.3s;
  }
  .envoi:hover {
      background: #FDFBF4;
      color: #003A6B ;
      border: 2px solid #003A6B;
      font-weight: bold;
  }


   /********************************************/ 
  /********     FORMULAIRE DE LOGIN    ********/
  /*******************************************/
#section {
  position: relative;
  min-height: 120vh;
  background-color:#003A6B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.5s;
}        
            
     
#section .containerLogin {
  position: relative;
  width: 812px;
  height: 500px;
  background: #FDFBF4;
  box-shadow: 0 15px 50px rgba(0,0,0,0,1) ;
}

#section .containerLogin .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#section .containerLogin .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  transition: 0.5;
}

#section .containerLogin .user .imgBx img {
  position: absolute;
  top: 58px;
  left: 15px;
  width: 88%;
  height: 71%;
  display: flex;
  object-fit: cover;
}

#section .containerLogin .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

#section .containerLogin .user .formBx h2 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

#section .containerLogin .user .formBx input {
  width: 100%;
  padding: 10px;
  background: #f5f5f5 ;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 8px 0;
  font-weight: 300;
}

#section .containerLogin .user .formBx input[type="submit"] {
  max-width: 100px;
  background: #003A6B;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}
#section .containerLogin .user .formBx .signup {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}
#section .containerLogin .user .formBx .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #B49EFF;
  font-size: 14px;
}



    /*******************************/ 
   /********     FOOTER    ********/
  /*******************************/

/* footer {
  margin-top: 4rem;
  background-image: url(../img/footer-fond.svg);
  background-size: cover;
  width: 100%;
  padding: 150px 0;
  text-align: justify;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer img {
  width: 73%;
}
.contenu {
  width: 69%;
}
footer ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.societe {
  justify-content: space-evenly;
  margin: 0px 0px 40px 0px;
}
.info{
  justify-content: space-evenly;
  margin:67px 0px 0px 0px;
}
footer ul li {
  padding: 0rem 1rem;
}
.reseau {
  justify-content: space-between;
  font-size: 2.5rem;
}
.reseau a i {
  padding-right: 2rem;
}
.fa-brands {
  font-size: 38px;
} */

footer {
  position: relative;
  width: 100%;
  background-color: var(--schemes);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon,
footer .menuFoot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li,
footer .menuFoot li {
  list-style: none;

}
footer .social_icon li a {
  font-size: 2em;
  color: var(--blue);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-10px);
}
footer .menuFoot li a {
  font-size: 1.2em;
  color: var(--blue);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 1;

}
footer .menuFoot li a:hover {
  opacity: 0.75;
}

footer p {
  color: var(--blue);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em
}



    /**************************************/ 
   /********     MeEDIA QUERIE    ********/
  /**************************************/



@media (min-width: 320px) and (max-width:427px ){
    /* POUR TOUS LES BOUTTON */
  .boutton-btn {
    width: 27vh;
    font-size: 15px;
  }
 /*----------                   -----------*/
 /*-----------  PAGE ACCUEIL     ----------*/
/*------------                   ---------*/


/* TEXTE DE PRESENTATION */
.presentation h1 {
  font-size: 25px;
}
.presentation p {
  margin-top: 2rem;
  font-size: 20px;
  }

/* SECTION HISTOIRE */
.histoire {
  height: 770px !important;
  margin-top: 3rem !important;
}
.histoire h2{
  font-size: 25px !important;
}

.africains-story p{
  margin-top: 3rem !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
 
}

   /*------------                        --------------*/
  /*------------  CARD DES ARTICLES     --------------*/
 /*------------                         -------------*/
 #containerArticle {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.containerArticle {
  width: 100%;
  height:385px;
}
.imageArticle {
  height: 26vh;
}
/* CARDSLIDER */

.swiper{
  width: 70%;
  padding-top: 97px;
}


  /*----------                    -----------*/
 /*-----------  PAGE À PROPOS     ----------*/
/*------------                    ---------*/

.apropos {
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}
.apropos h2 {
  font-size: 25px;
}
.texteapros {
  width: 92%;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 20px;
}


   /*------------                    --------------* /
  /*------------   PAGE CONTACT      --------------*/
 /*------------                      -------------*/
.contact-page {
  width: 100%
}  

.contact-general{
 display: flex;
 flex-direction: column;
}
 /* PARTIE DES INFOS SUR LE MAGASIN */
.info-contact {
 padding-left:41px;
}
.info-contact a:hover{
 color: #003A6B;
}
.icones{
 padding-bottom: 1rem;
}
.hour {
 float: right;
 margin-right: 153px;
}


/* CHAMPS DU FORMULAIRE */

.formulaire-contact{
  padding-right: 41px;
  padding-left: 41px;
}
.forminfo {
   display: flex;
   flex-direction: column;
   
}
.name {
   width: 100%;
   margin-bottom: 2rem;
}
.name::placeholder {
 font-family: 'Roboto';
}
.firstname {
  width: 100%;
  margin-bottom: 2rem;
}
.firstname::placeholder {
font-family: 'Roboto';
}
.phone {
  width: 100%;
  margin-bottom: 2rem;
}
.phone::placeholder {
font-family: 'Roboto';
 border-radius: 5px;
}
.email {
  width: 100%;
  margin-bottom: 2rem;
}
.email::placeholder {
   font-family: 'Roboto';
}

.message {
  width: 100%;
   margin-bottom: 2rem;
}
.message::placeholder {
   font-family: 'Roboto';
}

/* BOUTTON DU FORMULAIRE */
.envoi {
 padding: 8px 30px ;
 margin-left: 4rem;
 
 }

 
   /********************************************/ 
  /********     FORMULAIRE DE LOGIN    ********/
  /*******************************************/

#section .containerLogin .user .imgBx {
 display: none;
}



#section .containerLogin .user .formBx {
  width: 100%;
}

#section .containerLogin .user .formBx h2 {
 font-size: 25px;
}


  /*------------                        --------------*/
 /*------------     DESCRIPTIONS       --------------*/
/*------------                         -------------*/
 .container-description{
  display: flex;
  justify-content:center;
  flex-direction: column;
  margin: 3rem;
}
.image-description{
  width: 100%;
  height: 425px;
}
.text-description {
  margin-top: 5rem;
}

.info-description {
  width: 100%;
  margin-left: 0px;
  font-size: 14px;
}
 
}


@media (min-width: 427px) and (max-width:768px ) {
  
  /* POUR TOUS LES BOUTTON */
  .boutton-btn {
    width: 30vh;
  }
   /*----------                   -----------*/
 /*-----------  PAGE ACCUEIL     ----------*/
/*------------                   ---------*/

/* TEXTE DE PRESENTATION */
.presentation h1 {
  font-size: 35px;
}
.presentation p {
  margin-top: 2rem;
  font-size: 20px;
  }


  /*------------  CARD DES ARTICLES     --------------*/

 #containerArticle {
  display: flex;
  flex-direction: column;
}
.containerArticle {
  width: 100%;
  height:450px;

}

/* CARDSLIDER */

.swiper{
  width: 100%;
  padding-top: 92px;
}


  /*----------                    -----------*/
 /*-----------  PAGE À PROPOS     ----------*/
/*------------                    ---------*/

.apropos {
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}
.apropos h2 {
  font-size: 55px;
}
.texteapros {
  width: 94%;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 31px;
}


  /*------------                        --------------*/
 /*------------     DESCRIPTIONS       --------------*/
/*------------                         -------------*/
.container-description{
  display: flex;
  justify-content:center;
  flex-direction: column;
  margin: 3rem;
}
.image-description{
  width: 100%;
  height: 425px;
}
.text-description {
  margin-top: 5rem;
}

.info-description {
  width: 98%;
  margin-left: 0px;
  font-size: 14px;
}

   /*------------                    --------------* /
  /*------------   PAGE CONTACT      --------------*/
 /*------------                      -------------*/
 .contact-page {
  width: 100%
}  

.contact-general{
 display: flex;
 flex-direction: column;
}
 /* PARTIE DES INFOS SUR LE MAGASIN */
.info-contact {
 padding-left:41px;
}
.info-contact a:hover{
 color: #003A6B;
}
.icones{
 padding-bottom: 1rem;
}
.hour {
 float: right;
 margin-right: 153px;
}


/* CHAMPS DU FORMULAIRE */

.formulaire-contact{
  padding-right: 41px;
  padding-left: 41px;
}
.forminfo {
   display: flex;
   flex-direction: column;
   
}
.name {
   width: 100%;
   margin-bottom: 2rem;
}
.name::placeholder {
 font-family: 'Roboto';
}
.firstname {
  width: 100%;
  margin-bottom: 2rem;
}
.firstname::placeholder {
font-family: 'Roboto';
}
.phone {
  width: 100%;
  margin-bottom: 2rem;
}
.phone::placeholder {
font-family: 'Roboto';
 border-radius: 5px;
}
.email {
  width: 100%;
  margin-bottom: 2rem;
}
.email::placeholder {
   font-family: 'Roboto';
}

.message {
  width: 100%;
   margin-bottom: 2rem;
}
.message::placeholder {
   font-family: 'Roboto';
}

/* BOUTTON DU FORMULAIRE */
.envoi {
 padding: 8px 30px ;
 margin-left: 4rem;
 
 }


  /*----------                  -----------*/
 /*-----------      FOOTER      ----------*/
/*------------                  ---------*/

/* footer {
  flex-direction: column;
  text-align: center;
}
footer img {
  width: 30%;
}
footer ul {
  flex-direction: column;
}
footer ul li {
  padding: 0.8rem;
}
.contenu {
  margin-top: 1.5rem;
}
.societe {
  margin: 0;
}
.info{
  margin:0 ;
} */

  }

  @media (min-width: 700px) and (max-width:768px ){
    #containerArticle {
      display: flex;
      flex-direction: initial;

    }
    .containerArticle {
      width: 65%;
      height: 450px;
    
    }
  }

  @media (min-width: 769px) and (max-width:1000px ){

    /*----------                    -----------*/
   /*-----------  PAGE À PROPOS     ----------*/
  /*------------                    ---------*/
  
  .apropos {
    text-align: center;
    width: 95%;
    margin-top: 3rem;
  }
  .apropos h2 {
    font-size: 55px;
  }
  .texteapros {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 35px;
  }
  .texteapros p {
    font-size: 26px;
  }
   
  
     /*------------                        --------------*/
    /*------------  CARD DES ARTICLES     --------------*/
   /*------------                         -------------*/
   #containerArticle {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .containerArticle {
    width: 45%;
    height: 460px;
  
  }
  
  
  
    /*------------                        --------------*/
   /*------------     DESCRIPTIONS       --------------*/
  /*------------                         -------------*/
  .container-description{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: 3rem;
  }
  .image-description{
    width: 100%;
    height: 425px;
  }
  .text-description {
    margin-top: 5rem;
  }
  
  .info-description {
    width: 98%;
    margin-left: 0px;
    font-size: 14px;
  }
  
  /*------------                    --------------* /
    /*------------   PAGE CONTACT      --------------*/
   /*------------                      -------------*/
   .contact-page {
    width: 100%
  }  
  
  .contact-general{
   display: flex;
   flex-direction: column;
  }
   /* PARTIE DES INFOS SUR LE MAGASIN */
  .info-contact {
   padding-left:41px;
  }
  .info-contact a:hover{
   color: #003A6B;
  }
  .icones{
   padding-bottom: 1rem;
  }
  .hour {
   float: right;
   margin-right: 153px;
  }
  
  
  /* CHAMPS DU FORMULAIRE */
  
  .formulaire-contact{
    padding-right: 41px;
    padding-left: 41px;
  }
  .forminfo {
     display: flex;
     flex-direction: column;
     
  }
  .name {
     width: 100%;
     margin-bottom: 2rem;
  }
  .name::placeholder {
   font-family: 'Roboto';
  }
  .firstname {
    width: 100%;
    margin-bottom: 2rem;
  }
  .firstname::placeholder {
  font-family: 'Roboto';
  }
  .phone {
    width: 100%;
    margin-bottom: 2rem;
  }
  .phone::placeholder {
  font-family: 'Roboto';
   border-radius: 5px;
  }
  .email {
    width: 100%;
    margin-bottom: 2rem;
  }
  .email::placeholder {
     font-family: 'Roboto';
  }
  
  .message {
    width: 100%;
     margin-bottom: 2rem;
  }
  .message::placeholder {
     font-family: 'Roboto';
  }
  
  /* BOUTTON DU FORMULAIRE */
  .envoi {
   padding: 8px 30px ;
   margin-left: 4rem;
   
   }
  
  }
  
  @media screen and (max-width:1120px ) {
    nav ul {
      position: absolute;
      display: none;
      flex-direction: column;
      bottom:0 ;
      transform: translateY(100%);
      right: 0;      
      z-index: 1;
    }
    nav ul ul {
      width: 100%;
      z-index: 1;
    }
    #menu-btn {
      display: block;
      font-size: 30px;
     cursor: pointer;
     color: #003A6B;
     border: none;
     background-color: transparent;
    }
    #menu-btn:hover {
      color: #FDFBF4;
    }
  
  
  
  }

