{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="administrateur">
        <h2 class="admini">Administrateur</h2>
        <p class="intro">Bienvenue dans l'interface d'administrateur de NourShophop</p>
    </div
{% endblock %}
