<footer id="footer">
    <div class="container-foot">
        <div class="cont societe">
            <h2>Notre Société</h2>
            <li><a href="">Conditions d'utilisation</a></li>
            <li><a href="">Politique de Confidentialité</a></li>
            <li><a href="">Mentions Légales</a></li>
        </div>
        <div class="cont info">
            <h2>Information</h2>
            <li><p class="adre">5 avenue Likouala (Libreville/Gabon)</p></li>
            <li><a href="tel:+24106153664">(+241) 06153664</a></li>
            <li><a href="mailto">nourshop241@gmail.com</a></li>
            <div class=" reseau">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
  </div>
</footer>