<footer>
    <a href="{{ path('home') }}"><img src="{{ asset('img/logo.svg') }}" alt="Logo de NourShop"></a>
        
        <div class="contenu">
            <ul class="societe">
                <li><a href="">Wax</a></li>
                <li><a href="">Bazin</a></li>
                <li><a href="">Chigan</a></li>
                <li><a href="">Tailleur</a></li>
            </ul>
    
            <ul class="info">
                <li><a href="">Mentions Légales</a></li>
                <li><a href="">Politique de Confidentialité</a></li>
                <li><a href="">Condition d'utilisation</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
       
        <div class=" reseau">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>

    </footer>
