<header class="header">
       
        <div class="dropdown">
            <nav>
                <a href="{{ path('home') }}"><img class="logonour" src="{{ asset('img/logo.svg') }}" alt="Logo NourShop">
                <ul>
                    <li><a href="">Nos Tissus <i class="fa-solid fa-caret-down"></i></a>
                        <ul>
                            <li><a href="">Wax</a></li>
                            <li><a href="">Bazin</a></li>
                            <li><a href="">Chigan</a></li>
                        </ul>
                    </li>
                    <li><a href="">Notre Tailleur</a></li>
                    <li><a href="">Nos Tarifs</a></li>
                    <li><a href="">Nous Contacter</a></li>
                </ul>
            </nav>
        </div>
    </header>