
        <!-- MAIN -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars icons"></i>
                </div>
                <!-- Admin Image -->
                <div class="admin">
                    <img src="  {{ asset('img/logons-resize.png') }}" alt="Logo NourShop">
                  
                </div>
            </div>
        </div>

    
        