
        <!-- MAIN -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars icons"></i>
                </div>
                <!-- Recherche -->
                <div class="search">
                    <label>
                        <input type="text" placeholder="Rechercher">
                        <i class="searchIcon fa-solid fa-magnifying-glass"></i>
                    </label>
                </div>
                <!-- Admin Image -->
                <div class="admin">
                    <img src="  {{ asset('img/logons-resize.png') }}" alt="Logo NourShop">
                  
                </div>
            </div>
        </div>

    </div>
        