<div class="containerDash">
        <div class="navigationDash">
            <ul>
                <li>
                    <a href="">
                        <span class="iconDash"></span>
                        <span class="titleDash">NourShop</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="iconDash"><i class="fa-solid fa-house-user"></i></span>
                        <span class="titleDash">Dasboard</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('article-admin_add') }}">
                        <span class="iconDash"><i class="fa-solid fa-list"></i></span>
                        <span class="titleDash">Articles</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="iconDash"><i class="fa-solid fa-list"></i></span>
                        <span class="titleDash">Tissus</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="iconDash"><i class="fa-solid fa-lock"></i></i></span>
                        <span class="titleDash">Passeword</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">
                        <span class="iconDash"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                        <span class="titleDash">Singin Out</span>
                    </a>
                </li>
            </ul>
        </div>