{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}
        <h2>Ajouter un Article</h2>
        {{ form_start(form)}}

            {{ include('article/_form.html.twig') }}    
            <button class="btn_primary">Ajouter</button>

        {{ form_end(form)}}
{% endblock %}
