{% extends 'baseDashboard.html.twig' %}

{% block title %}Editer un article{% endblock %}

{% block body %}
        <section class="ajout-article">
            <h2>Editer un Article</h2>

            {{ form_start(form, {'attr': {'class': 'article'}}) }}

                {{ include('dashboard/_article-form.html.twig') }}    
                <button class="btn btn_primary " id="msbtn">Editer</button>

            {{ form_end(form)}}
      
    </section>
{% endblock %}
