{% extends 'baseDashboard.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

{% block body %}

    <div class="tableau">
         <h2 class="admini">Administrateur</h2>
        <p class="intro">Bienvenue dans l'interface d'administrateur de NourShophop</p>
    </div>

   

{% endblock %}