{% extends 'baseDashboard.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}
    <section class="ajout-article">
        <h2>Ajouter un Tissus</h2>

            {{ form_start(form, {'attr': {'class': 'article'}}) }}

                {{ include('dashboard/_tissus-form.html.twig') }}    
                <button class="btn btn_primary " id="msbtn">Ajouter</button>

            {{ form_end(form)}}
      
    </section>
{% endblock %}
